<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppConnectionString"
         connectionString="Data Source=;  
                           Initial Catalog=OrderStore;  
                           User ID=app;
                           Password=test123;
                           Persist Security Info=False;                                    
                           MultipleActiveResultSets=True
                           Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
